@model UpdateCategoryRequestModel

<form asp-action="Update" asp-controller="Category" method="post" class="p-3 w-75 m-auto">
    <input asp-for="Id" type="hidden" />
    <div class="mb-3">
        <label>Kategori ismi giriniz</label>
        <input asp-for="CategoryName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Aciklama</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Kategori Guncelle</button>
    </div>
</form>